                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-th-list fa-fw"></i> Catalog<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Stores</a>
                                </li>
                                <li>
                                    <a href="#">Store Addresses</a>
                                </li>
                                <li>
                                    <a href="#">Categories</a>
                                </li>
                                <li>
                                    <a href="#">Products</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-headphones fa-fw"></i> Feedback</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-credit-card fa-fw"></i> Orders</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-briefcase fa-fw"></i> Tools<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Article scanner</a>
                                </li>
                                <li>
                                    <a href="#">Synchronization</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>

