{% extends "webstore/main.html" %}

{% block title %}AvtoZip WebStore{% endblock %}

{% block css %}
  {{ block.super }}
{% endblock %}



{% block main %}
  <div class="col-lg-12">
    <h1 class="page-header">{% trans 'AvtoZip WebStore placeholder' %}</h1>
  </div>
  <p>{% trans 'ProductList placeholder' %}</p>
  <form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="div-table">
      {% for form in formset %}
      {% if forloop.first %}
      <div class="div-table-row-header">
        {% for field in form.visible_fields %}
        <div class="div-table-col">{{ field.label|capfirst }}</div>
        {% endfor %}
      </div>
      {% endif %}
      {{ form.id }}
      <div class="div-table-row">
        {% for field in form.visible_fields %}
        <div class="div-table-col">
          {{ field.errors.as_ul }}
          {{ field }}
        </div>
        {% endfor %}
      </div>
      {% endfor %}
      <div class="div-table-row">
        <div class="div-table-col">
          <input type="submit" class="btn btn-primary" value={% trans 'Add' %} />
        </div>
      </div>
    </div>
  </form>
{% endblock %}
